<h1>Stocks</h1>

<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder:
    'Enter Ticker Symbol', size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>


<% stock = StockQuote::Stock.quote('aapl') %>
<%= stock.latest_price %>
